<section>
  <div class="box-contactanos">
    <h2 class="title-contactanos">CONTACTANOS</h2>
    <p>Si quiere contactarnos por algun motivo, puede hacerlo
      de tres maneras diferentes, puede contactarnos por:<br />
      Correo Electronico, Whatsapp y nuestra pagina de facebook.
    </p>
    <ul>
      <li>Correo Electronico
        <%- include('icon-gmail.ejs')%>
      </li>
      <li>Whatsapp
        <%- include('icon-whatsapp.ejs')%>
      </li>
      <li>pagina de facebook
        <%- include('icon-facebook.ejs')%>
      </li>
    </ul>
    <span>Envienos un mensaje para contactarnos al siguiente correo electronico: 
      <a class="item-gmail" href="mailto:keypoolx@gmail.com?&subject=CONTACTANOS%20|%20KEVONS&body=Escriba%20el%20motivo%20por%20el%20cual%20nos%20quiere%20contactar:%0A"><span class="content-gmail">keypoolx@gmail.com</span></a>
    </span><br/>
    <span>Envienos un mensaje por whatsapp al siguiente numero: <a href="https://api.whatsapp.com/send?phone=541167081751&text=quiero%20contactarlos" target="_blank">11 6708-1751</a> </span><br/>
    <span>Envienos un mensaje a nuestra pagina de facebook: <a class="item-facebook" href="https://www.facebook.com/kevonsmoda" target="_blank">Facebook/Kevons</a></span>
  </div>
</section>